<%= display_error %>

<form action="/item" method="POST">
Title:<br>
<input name="entry[title]" type="text"><br>
Content:<br>
<textarea name="entry[content]"></textarea><br>
Tags:<br>
<input name="tag[tag]" type="text"><br>
<input type="submit" value="tru">
</form>
</div>
