<%= erb :_logintoolbar %>

<h1>These are users whose items you have liked, and who have liked one or more of your items!</h1>


<p>
<h2>matches:<h2><br>
<% @matches.each do |user| %>
  username: <%= user.username%><br>
  email: <%= user.email%><br>
<% end %>
</p>

