
<h1>These are users who have stuff you like, and who like your stuff!</h1>


<% @matches.each do |user| %>
  <a href="/#{<%= user.id%>}" > <%= user.username%> </a>
  click here to email them to discuss a trade:

  <a href="https://mail.google.com/mail/u/0/?view=cm&ui=2&tf=0&fs=1&to=<%= user.email%>&su=CAN WE TRADE CLOTHES MAYBE&body=LINE1%0ALINE2"><%= user.email%></a>
  <br>
<% end %>




